@model string[]

@{
    ViewData["Title"] = "Slovenské Slová";
}


<form action="/" method="get">
    <div class="row col-sm-6 p-4 mx-auto">
        <div class="col-sm-5 p-4 m-1 border border-primary-subtle rounded-start">
            <label for="count">Počet slov:</label>
            <input type="number" id="count" class="w-100" name="count" value="@ViewData["count"]">
            <input type="submit" value="Načítať" />
        </div>

        <div class="text-center col-sm-5 p-4 m-1 border border-primary-subtle rounded-end">
            <h2>Slová:</h2>
            @foreach (var word in Model)
            {
                <div>@word</div>
            }
        </div>
    </div>
</form>